* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dialog {
    top: 300px;
    left: 800px;
}
.container {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    padding: 20px;
    display: grid;
    grid-template-rows: 5% 95%;
}

.header > h1 {
    align-self: center;
    justify-self: center;
}

.container > .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    column-gap: 100px;
    padding: 20px;
}

.cardContainer > .card {
    font-size: 1.5rem;
    padding: 20px;
    height: 340px;
    width: 300px;
    background-color: lightblue;
    border-radius: 20px;
}

.card > ul > li {
    margin-bottom: 30px;
    list-style: none;
}

.card > ul > li::first-letter {
    text-transform: uppercase;
}

.header {
    display: grid;
    position: relative;
}

.header > button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    font-size: 1.7rem;
}

form {
    padding: 50px 75px;
}

form > div {
    margin: 20px 0px;
}

form > div > label {
    display: block;
}

.readBtn,
.delBtn {
    padding: 10px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 22px;
    font-size: 1.1rem;
    background-color: aquamarine;
    cursor: pointer;
}

.readBtn:hover,
.delBtn:hover {
    background-color: rgb(105, 223, 183);
}

.readBtn:active,
.delBtn:active {
    background-color: rgb(93, 211, 171);
} 

.readBtn {
    margin-left: 20px;
}